:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --accent-color: #ff0070;
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;

  --decor-color: var(--accent-color);
  --block-title-text-color: var(--accent-color);
  --card-title-text-color: var(--background-color);

  /* REC виден */
  .decorated-zone__decor-title {
    display: inline;
  }
}
