:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --main-title-color: #db00ff;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;

  /* REC не виден */
  .decorated-zone__decor-title {
    display: inline;
  }

  /* правый-верхний уголок */
  .decorated-element::before {
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
  }

  /* левый-нижний уголок */
  .decorated-element::after {
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
  }

  /* Кнопка темы */
  .header__theme-menu-button {
    color: var(--accent-color);
  }

  .header__theme-menu-button_active {
    border: solid 1px var(--accent-color);
  }

  .header__theme-menu-button:focus-visible {
    border-bottom: solid 1px var(--accent-color);
  }

  .header__theme-menu-button:not(.header__theme-menu-button_active):hover {
    border: solid 1px color(from var(--accent-color) srgb r g b / 0.4);
  }

  /* Заголовок блока */
  .block__header {
    color: var(--accent-color);
  }

  /* Заголовок карточки */
  .card-header {
    background-color: var(--accent-color);
    color: var(--background-color);
  }

  /* Текст карточки */
  .block__card-text {
    color: var(--text-color);
  }

  /* Ссылка */
  .text-link {
    text-shadow: 1px 2px var(--accent-color);
  }

  /* Заголовок подвала */
  .footer__title {
    text-shadow: 2px 2px var(--accent-color);
  }
}
