:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --main-title-color: #ffc2e6;
  --text-color: #353430;
  --accent-color-alt: #ff0070;

  --decor-color: var(--text-color);
  --block-title-text-color: var(--text-color);
  --card-title-text-color: var(--text-color);

  /* REC не виден */
  .decorated-zone__decor-title {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --main-title-color: #ffc2e6;
    --text-color: #353430;
    --accent-color-alt: #ff0070;

    --decor-color: var(--text-color);
    --block-title-text-color: var(--text-color);
    --card-title-text-color: var(--text-color);

    /* REC не виден */
    .decorated-zone__decor-title {
      display: none;
    }
  }
}
