/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .main__title {
    color: var(--main-title-color-light);
    text-shadow: 5px 5px var(--accent-color-light);
  }

  .main__text {
    background-color: var(--accent-color-light);
  }

  .block__header {
    color: var(--text-color-light);
  }
}
