.page {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: var(--background-image);
  background-color: var(--background-color);
}

/* ШАПКА */

/* вся зона шапки */
.decorated-zone {
  min-height: 100vh;
  display: grid;
  align-content: space-around;
}

/* правый-верхний уголок */
.decorated-element::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
}

/* левый-нижний уголок */
.decorated-element::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
}

/* REC */
.decorated-zone__decor-title {
  text-transform: uppercase;
  font-family: var(--font);
  font-size: var(--font-size-content);
  color: var(--accent-color);
  position: absolute;
  right: 15px;
  top: 11px;
}

/* кружок после REC */
.decorated-zone__decor-title::after {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  background: var(--accent-color);
  border-radius: 50%;
  filter: blur(2px);
  margin-left: 11px;
}

/* Меню с кнопками */
.header__theme-menu {
  margin-block-start: 47px;
  margin-inline-end: 10px;
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style-type: none;
}

/* Кнопка темы */
.header__theme-menu-button {
  background: none;
  font-family: var(--font);
  font-size: var(--font-size-content);
  background-color: transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  min-width: 70px;
  height: 26px;
  padding-block-end: 26px;
  border: solid 1px transparent;
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--accent-color);
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  border: solid 1px color(from var(--accent-color) srgb r g b / 0.4);
}

.header__theme-menu-button_active {
  border: solid 1px var(--accent-color);
}

/* Основная надпись шапки */
.main__title {
  padding-block-start: 10px;
  padding-inline-start: 10px;
  line-height: 83%;
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--font-size-header-title-mobile);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: left;
}

/* Заголовок шапки */
.main__text {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-end: 38px;
}

/* ОСНОВНОЙ КОНТЕНТ */

/* блок со всем контентом для задания общего цвета фона */
.super-block {
  background-color: var(--background-color);
}

/* флекс с блоками */
.main-block {
  padding: 40px 10px 35px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Заголовок блока */
.block__header {
  color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-content);
  line-height: 23.4px;
}

.block {
  display: grid;
}

.block-rebuilding-title {
  gap: 21px;
}

.block-rebuilding-cards {
  gap: 20px;
}

.block-alt-gap {
  gap: 19px;
}

/* флекс с карточками */
.block__cards {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.block__cards_alt_gap {
  gap: 20px;
}

/* флекс с карточкой */
.block__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Заголовок карточки */
.block__card-header {
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-content);
  color: var(--background-color);
  line-height: 23.4px;
  font-weight: bold;
}

/* Сброс жирности загаловка */
.block__card-header-alt {
  font-weight: normal;
}

/* Текст карточки */
.block__card-text {
  font-family: var(--font);
  font-size: var(--font-size-content);
  font-weight: 400;
  line-height: 23.4px;
  color: #f1b2ce;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  align-items: center;
  gap: 6px;
}

.gallery__item {
  box-sizing: border-box;
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Ссылка в тексте */
.text-link {
  text-shadow: 1px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-bottom: 2px solid var(--text-color);
}

.text-link:focus-visible {
  outline: solid 1px var(--text-color);
}

/* ПОДВАЛ */

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  padding-inline: 14px;
  padding-block-end: 7px;
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* АДАПТИВ */

@media (min-width: 768px) {
  .decorated-zone,
  .super-block {
    padding: 0 10px;
  }

  .main-block {
    padding: 10px 8px;
    padding-block-start: 60px;
    gap: 80px;
  }

  /* ШАПКА */

  /* правый-верхний уголок */
  .decorated-element::before {
    top: 20px;
    right: 20px;
  }

  /* левый-нижний уголок */
  .decorated-element::after {
    bottom: 20px;
    left: 20px;
  }

  /* REC */
  .decorated-zone__decor-title {
    right: 24px;
    top: 21px;
  }

  /* Меню с кнопками */
  .header__theme-menu {
    margin-block-start: 110px;
  }

  /* Основная надпись */
  .main__title {
    font-size: var(--font-size-header-title-desktop);
    margin-inline-start: -20px;
  }

  /* Текст */
  .main__text {
    max-width: 365px;
    justify-self: right;
    margin-block-end: 102px;
  }

  .block-rebuilding-cards {
    padding: 0px 2px;
  }

  .block__header {
    padding-inline: 1px;
    padding-block-start: 1px;
  }

  .block__header-line {
    width: 128px;
  }

  .gallery {
    gap: 20px;
    padding: 0 2px;
  }

  .images {
    gap: 20px;
    align-items: unset;
  }

  .gallery__image {
    margin-block-end: -4px;
  }

  /* Перестроим заголовок в левую колонку */
  .block-rebuilding-title {
    grid-template-columns: 236px 1fr;
    gap: 22px;
  }

  .block__cards {
    margin-inline-end: 1px;
  }

  /* Выложим плитку из картинок */
  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-start: 50px;
  }

  .footer__title {
    margin-inline-start: 2px;
    margin-block-end: 4px;
  }

  .decorated-element-footer::before {
    right: 10px;
  }

  .decorated-element-footer::after {
    left: 10px;
  }
}

@media (min-width: 1024px) {
  .main__title {
    font-size: 157px;
    letter-spacing: 0;
    margin-block-start: 275px;
    margin-inline-start: -20px;
  }

  .main__text {
    max-width: 491px;
    margin-block-start: 48px;
  }

  .header__theme-menu {
    justify-self: center;
    margin: 0;
    position: absolute;
    margin-block-start: 18px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  /* При увеличении разрешения позволит заголовку занять всю первую строку
а карточкам выстроиться в 3 колонки */
  .block-rebuilding-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    gap: 20px;
  }

  .block__header {
    min-width: 315px;
  }

  .block__header-line {
    grid-column: span 3;
    grid-row: span 2;
  }

  .block-rebuilding-title {
    grid-template-columns: 315px 1fr;
  }

  .footer__title {
    margin-block-start: 0px;
    margin-inline-start: 0px;
  }
}
