/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  height: 100hv;
  min-height: 375px;
  position: relative;
}

.main__title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--main-title-color);
  text-shadow: 5px 5px var(--accent-color);
}

.main__text {
  font-family: var(--font);
  background-color: var(--accent-color);
  justify-self: end;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 3px;
  right: 3px;
}

.header__theme-menu-button {
  font-size: 18px;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  border: solid 1px var(--accent-color);
  width: 70px;
  height: 26px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 9px;
  left: 2px;
}

.decorated-zone__decor-title {
  text-transform: uppercase;
  font-family: IBM Plex Mono;
  color: var(--accent-color);
  position: absolute;
  right: 10px;
  top: 4px;
}

.decorated-zone__decor-title::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  filter: blur(2px);
  margin-left: 11px;
}

.decorated-zone::after {
  content: "";
}

.decorated-zone-block {
  display: grid;
  grid-template-rows: 152px 307px 200px;
}

.main-text-block {
}

.header__theme-menu {
  justify-self: right;
  margin-top: 49px;
  margin-right: 3px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.block__header {
  color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  letter-spacing: 0.1px;
  margin-top: 42px;
}

.block {
  margin-top: 35px;
}

.block__card-header {
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  margin-bottom: 1px;
}

.block__card-text {
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  line-height: 23.4px;
  color: aliceblue;
}

.main__text {
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  font-weight: bold;
  line-height: 23.4px;
}

footer {
  height: 100hv;
  min-height: 667px;
  position: relative;
  display: flex;
  align-items: center;
}
