/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0 2px;
}

.decorated-zone {
  position: relative;
}

.main__title {
  font-family: var(--font);
  font-weight: 700;
  font-size: 116px;
  line-height: 83%;
  letter-spacing: 0%;
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--accent-color);
}

.decorated-element::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  top: 3px;
  right: 3px;
  margin-right: -2px;
}

.decorated-element::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 9px;
  left: 2px;
  margin-left: -2px;
}

.header__theme-menu-button {
  background: none;
  font-size: 18px;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  min-width: 69px;
  height: 26px;
}

.block__card-header-alt {
  font-weight: normal;
}

.header__theme-menu-item {
  border: solid 1px transparent;
}

.header__theme-menu-item:hover {
  border: solid 1px color(from var(--accent-color) srgb r g b / 0.4);
}

.header__theme-menu-button:enabled {
  border-color: transparent;
}

.header__theme-menu-button:disabled {
  border: solid 1px var(--accent-color);
}

.header__theme-menu-button:focus {
  border-color: transparent;
  border-bottom: solid 1px var(--accent-color);
}

.decorated-zone__decor-title {
  text-transform: uppercase;
  font-family: IBM Plex Mono;
  font-size: 18px;
  color: var(--accent-color);
  position: absolute;
  right: 6px;
  top: 3px;
}

.decorated-zone__decor-title::after {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  filter: blur(2px);
  margin-left: 11px;
}

.decorated-zone::after {
  content: "";
}

.decorated-zone-block {
  display: grid;
  grid-template-rows: 152px 307px 200px;
}

.main-text-block {
}

.header__theme-menu {
  justify-self: right;
  margin-top: 48px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.block__header {
  color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  margin: 0px;
}

.main-block {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 49px;
}

.block-rebuilding-title {
  display: grid;
  row-gap: 21px;
}

.block-rebuilding-cards {
  display: grid;
  row-gap: 19px;
}

.super-block {
  background-color: #000028;
}

.block__cards {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.block__card-header {
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  /*margin-bottom: 1px;*/
  margin: 0px;
}

.block__card-text {
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  line-height: 23.4px;
  color: #f1b2ce;
  margin-top: 11px;
  margin-bottom: 0px;
  padding-right: 4px;
}

.main__text {
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  font-weight: bold;
  line-height: 23.4px;
  padding-right: 50px;
}

.footer {
  height: 100hv;
  min-height: 660px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 46px;
}

.footer__title {
  padding-left: 3px;
  padding-bottom: 5px;
  text-shadow: 2px 2px var(--accent-color);
}

.images {
  display: grid;
  margin-top: 10px;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: -4px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.text-link {
  text-shadow: 1px 2px var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    padding: 0 10px;
  }

  .main__title {
    margin-left: -7px;
  }

  .decorated-zone {
    min-height: 1024px;
  }

  .block__header {
    margin-top: 2px;
    margin-left: 2px;
  }

  .block__header-line {
    width: 128px;
  }

  .block-rebuilding-title {
    grid-template-columns: 236px 1fr;
    gap: 22px;
    margin-top: 50px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  /*.gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }*/

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
  }

  .decorated-zone-block {
    height: 1024px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .main__text {
    margin-right: 9px;
    max-width: 315px;
    justify-self: right;
    margin-top: 34px;
  }

  .header__theme-menu {
    margin-block-start: 165px;
    margin-right: 10px;
  }

  .main__title {
    margin-block-start: 117px;
    letter-spacing: 2px;
  }
}

@media (min-width: 1024px) {
  .main__title {
    color: #ff0000;
  }

  .block-rebuilding-title {
    grid-template-columns: 315px 1fr;
  }

  .block-rebuilding-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    gap: 10px;
  }

  .block__header-line {
    grid-column: span 3;
  }
}
