.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* ШАПКА */

/* вся зона шапки */
.decorated-zone {
  min-height: 100vh;
  display: grid;
  align-content: space-around;
}

/* правый-верхний уголок */
.decorated-element::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
  top: 10px;
}

/* левый-нижний уголок */
.decorated-element::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  bottom: 10px;
}

/* REC */
.decorated-zone__decor-title {
  text-transform: uppercase;
  font-family: IBM Plex Mono;
  font-size: 18px;
  color: var(--accent-color);
  position: absolute;
  right: 16px;
  top: 12px;
}

/* кружок после REC */
.decorated-zone__decor-title::after {
  content: "";
  width: 13px;
  height: 13px;
  display: inline-block;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  filter: blur(2px);
  margin-left: 11px;
}

/* Меню с кнопками */
.header__theme-menu {
  margin-block-start: 46px;
  margin-inline-end: 10px;
  justify-self: right;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

/* Кнопка темы */
.header__theme-menu-button {
  background: none;
  font-family: var(--font);
  font-size: 18px;
  background-color: transparent;
  color: var(--accent-color);
  text-transform: lowercase;
  min-width: 69px;
  height: 26px;
}

.header__theme-menu-button:disabled {
  border: solid 1px var(--accent-color);
}

.header__theme-menu-button:focus {
  border-bottom: solid 1px var(--accent-color);
}

/* li с кнопкой темы */
.header__theme-menu-item {
  border: solid 1px transparent;
}

.header__theme-menu-item:hover {
  border: solid 1px color(from var(--accent-color) srgb r g b / 0.4);
}

/* Основная надпись */
.main__title {
  padding-block-start: 10px;
  padding-inline-start: 10px;
  line-height: 83%;
  font-family: var(--font);
  font-weight: 700;
  /* font-size: clamp() рассчитано https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjM3NXB4IiwibWF4V2lkdGgiOiI3NjhweCIsIm1pbkZvbnRTaXplIjoiMTE2cHgiLCJtYXhGb250U2l6ZSI6IjEyMHB4In0%3D */
  font-size: clamp(7.25rem, 7.25rem + 0vw, 7.25rem);
  color: var(--main-title-color);
  text-shadow: 4px 4px var(--accent-color);
  justify-self: left;
}

/* Текст */
.main__text {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-end: 37px;
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  font-weight: bold;
  line-height: 23.4px;
}

/* ОСНОВНОЙ КОНТЕНТ */

/* блок со всем контентом для задания общего цвета фона */
.super-block {
  background-color: #000028;
}

/* флекс с блоками */
.main-block {
  padding: 42px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Заголовок блока */
.block__header {
  color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  line-height: 23.4px;
}

.block {
  display: grid;
  row-gap: 20px;
}

/* флекс с карточками */
.block__cards {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.block__cards_alt_gap {
  gap: 20px;
}

/* флекс с карточкой */
.block__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Заголовок карточки */
.block__card-header {
  background-color: var(--accent-color);
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  line-height: 23.4px;
}

/* Сброс жирности загаловка */
.block__card-header-alt {
  font-weight: normal;
}

/* Текст карточки */
.block__card-text {
  font-family: var(--font);
  font-size: var(--font-size-card-header);
  font-weight: 400;
  line-height: 23.4px;
  color: #f1b2ce;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.images {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-block-end: -4px;
}

.gallery__item {
  box-sizing: border-box;
  margin: 0;
}

.text-link {
  text-shadow: 1px 2px var(--accent-color);
}

/* ПОДВАЛ */

.footer {
  margin-block-start: -4px;
  position: relative;
  display: flex;
  align-items: center;
}

.footer__title {
  padding-inline: 14px;
  padding-block-end: 7px;
  text-shadow: 2px 2px var(--accent-color);
}

/* АДАПТИВ */

@media (min-width: 768px) {
  .page {
    padding: 0 10px;
  }

  /* ШАПКА */

  /* правый-верхний уголок */
  .decorated-element::before {
    top: 20px;
    right: 20px;
  }

  /* левый-нижний уголок */
  .decorated-element::after {
    bottom: 20px;
    left: 20px;
  }

  /* REC */
  .decorated-zone__decor-title {
    right: 24px;
    top: 21px;
  }

  /* Меню с кнопками */
  .header__theme-menu {
    margin-block-start: 107px;
    margin-right: 10px;
  }

  /* Основная надпись */
  .main__title {
    margin-inline-start: -18px;
    letter-spacing: 2px;
  }

  /* Текст */
  .main__text {
    max-width: 365px;
    justify-self: right;
    margin-block-end: 100px;
  }

  .block__header {
    margin-top: 2px;
    margin-left: 2px;
  }

  .block__header-line {
    width: 128px;
  }

  /* При увеличении разрешения позволит заголовку перестроиться в левую колонку */
  .block-rebuilding-title {
    grid-template-columns: 236px 1fr;
    gap: 22px;
    margin-top: 50px;
  }

  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  /* Выложим плитку из картинок */
  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2 / 4;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / 4;
  }
}

@media (min-width: 1024px) {
  .main__title {
    font-size: 157px;
    letter-spacing: 0;
    margin-top: 275px;
  }

  .main__text {
    max-width: 491px;
    margin-top: 48px;
  }

  .header__theme-menu {
    justify-self: center;
    margin: 0;
    position: absolute;
    margin-block-start: 18px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .block-rebuilding-title {
    grid-template-columns: 315px 1fr;
  }

  /* При увеличении разрешения позволит заголовку занять всю первую строку
а карточкам выстроиться в 3 колонки */
  .block-rebuilding-cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 1fr;
    gap: 10px;
  }

  .block__header-line {
    grid-column: span 3;
  }
}
