:root {
  --font: "IBM Plex Mono", "Arial", sans-serif;
  --font-size-content: 18px;

  /* рассчитано https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjM3NXB4IiwibWF4V2lkdGgiOiI3NjhweCIsIm1pbkZvbnRTaXplIjoiMTE2cHgiLCJtYXhGb250U2l6ZSI6IjEyMHB4In0%3D */
  --font-size-header-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* рассчитано https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6Ijc2OHB4IiwibWF4V2lkdGgiOiIxMDI0cHgiLCJtaW5Gb250U2l6ZSI6IjEyMHB4IiwibWF4Rm9udFNpemUiOiIxNTdweCJ9 */
  --font-size-header-title-desktop: clamp(
    7.5rem,
    0.5625rem + 14.4531vw,
    9.8125rem
  );

  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --accent-color: #ff0070;
  --accent-color-alt: var(--accent-color);
  --main-title-color: #db00ff;
  --text-color: #f1b2ce;

  --decor-color: var(--accent-color);
  --decor-outline: 1px solid var(--decor-color);
  --decor-outline-hover: 1px solid
    color(from var(--decor-color) srgb r g b / 0.4);
  --decor-underline: 0px 1px var(--decor-color);
  --main-title-text-color: var(--main-title-color);
  --main-title-shadow: 4px 4px 0 var(--accent-color);
  --main-title-shadow-color: var(--accent-color);
  --block-title-text-color: var(--accent-color);
  --card-title-text-color: var(--background-color);
  --card-title-background-color: var(--accent-color);
  --card-text-color: var(--text-color);
  --link-outline: solid 1px var(--text-color);
  --link-underline: 2px solid var(--text-color);
  --link-shadow: 2px 1px 0 var(--accent-color);
  --footer-shadow: 2px 2px var(--accent-color);
  --footer-shadow-alt: 2px 2px var(--accent-color-alt);
}
