/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --main-title-color: #DB00FF;
  --accent-color: #ff0070;
  --font: "IBM Plex Mono", "Arial", sans-serif;
  --font-size-card-header: 18px;
}
